body{
    background: #1E1E30;
}
.timeline{
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}
.container{
    padding: 10px 50px;
    position: relative;
    width: 50%;
}
.textbox{
    padding: 20px 30px;
    background: #27293F;
    position: relative;
    border-radius: 7px;
    font-size: 15px;
    color: white;
}
i{
    opacity: 50%;
    font-size: 12px;
}
.container img{
    position: absolute;
    padding: 3px;
    width: 35px;
    border-radius: 50%;
    left: -20px;
    top: 32px;
    z-index: 10;
}
.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background-color: #27293F;
    top: 0;
    margin-left: 293px;
    z-index: -1;
}
.arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #27293F;
    left: -13px;
}